<!DOCTYPE html>
<html>
  <head>
    <title>OnlineChecker</title>
    <link
      rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <nav class="navbar navbar-dark bg-dark">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a style="color: black" class="navbar-brand" href="./index.html"
              >WebPulse</a
            >
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a
                  style="color: black"
                  class="nav-link active"
                  aria-current="page"
                  href="./index.html"
                  >Home</a
                >
                <a style="color: black" class="nav-link" href="#">About us</a>
                <a style="color: black" class="nav-link" href="">IsItDown</a>
                <a style="color: black" class="nav-link" href="./support"
                  >support</a
                >
              </div>
            </div>
          </div>
        </nav>
      </nav>
  </head>
  <body>
      <div class="container">
          <h1 class="text-center">
             check if a website is down
              </h1>
          <form id="form">
            <div class="form-group">
                <label for="domain">Enter Domains URL: (One Per Line)</label>
                <textarea class="form-control" rows="10" cols="20" id="domains" placeholder="Domain names" required></textarea>
            </div>
            <div class="form-group">
                <button id="button" class="btn btn-block btn-danger">
                    Get Domains Status
                </button>
            </div>
        </form>
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Domain URL</th>
                    <th>Domain Status</th>
                </tr>
                </thead>
                <tbody id="body">
                </tbody>
            </table>
        </div>
        <br><br>
      </div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/psl/1.8.0/psl.min.js"></script>
  <script>
      $("#form").submit(function(e){
          e.preventDefault()
          var domains = $('#domains').val().split('\n');
          console.log(domains)
          domains.forEach(domain => {
            var prefix = 'http://';
if (domain.substr(0, prefix.length) !== prefix)
{
    domain = prefix + domain;
}
            
            $.ajax({
              method:"POST",
              url:"/",
              data:{domain:domain},
              success:function(data){
                  console.log(data.domainstatus)
                  $("#body").append(`
                  <tr>
                     <td>${domain}</td>
                     <td>${data.domainstatus}</td> 
                  </tr>

                  `)
              }
          })
          });
      })
  </script>
</html>